<h1>Submit Your Article Here:</h1>
<form action='/articles' method='POST'>
  <p>Article Name:<input type="text" id="name" name="name"></p>
  <p>Article Content:<input type ="text" id="content" name="content"></p>
  <input type="submit" id="submit">
</form>
